@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
.wrapper {
  display: flex;
  margin-top: 200px;
  margin-left: 200px;
}
.button {
  position: relative;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  margin-left: 2vw;
  transition: 0.4s ease-in-out;
}
.icon {
  background-color: antiquewhite;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000000;
}
.button:hover {
  margin-right: 8vh;
  transition: 0.4s ease-in-out;
}
.button:hover .icon {
  background-color: aquamarine;
}
.button:hover .name {
  display: flex;
  background-color: antiquewhite;
  height: 8vh;
  width: 16vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
}
span {
  display: none;
}
i {
  font-size: 22px;
}
